*{
  color: white;
  background-color: black;
  font-family: Consolas;
}

h2{  
  font-size: 64px;
}

.btn{
  background-color: aliceblue;
  color: black;

  border-radius: 5rem;
  border-width: 1rem;
  border-color:gray;

  font-size:5rem;
}